*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    font-size: 16px;
    background-color: #fff;
}

.container{
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width:80%;
    height:100%;
    flex-wrap: wrap;
    gap:10px;
    padding: 10px 100px;
}

h1{
    font-size: 250%;
}
nav{
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
}


.view{
    height: 200px;
    width: 200px;
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
    font-size: 3rem;
}