*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    font-size: 16px;
    background-color: #000;
    color: #fff;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    display:flex;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;

}

.container{
    background-color: gray;
    height:80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerblue  {
    background-color:blue;
    height:75%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerblack{
    background-color: black;
    height:50%;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.height100{
    height:100px;
}